<div *ngIf="tasks$ | async as tasks; else noTasks">
  <div
    fxLayout="row wrap"
    fxLayoutAlign="space-evenly center"
    fxLayoutGap="10px" fxLayoutGap.gt-xs="20px"
  >
    <div
      *ngFor="let task of tasks"
      fxFlex="23%"
      fxFlex.gt-sm="23%"
      fxFlex.md="23%"
    >
      <app-card
      [task]="task"
      (deleteTask)="handleDeleteTask(task)"    
      (completeTask)="handleCompleteTask(task)"    
      ></app-card>
    </div>
  </div>
</div>

<ng-template #noTasks>
  <p>No tasks available!</p>
</ng-template>
